{% extends 'base.html.twig' %}

{% block title %}قائمة المدفوعات{% endblock %}

{% block body %}
<div class="container">
    <h4 class="text-center display-4">قائمة الطلاب الذين دفعوا مصروفات شهرية : ({{ year }}) </h4>
    <div class="row">
        <div class="col-md-2">
            <form class="mt-2 mb-4">
                <select class="form-select form-select-sm" name="year">
                    {% for value in years %}   
                    <option value="{{ value }}" {% if value == year %}selected{% endif %}>
                        {{ value }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary mt-2">لتحديد</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group p-0">
                <li class="list-group-item bg-primary text-white fw-bold">الاشهر</li>
                {% for month in months %}
                <li class="list-group-item">
                    <a href="{{ path('paiement_month', {'month': month}) }}" class="{% if month == mois %} active {% endif %}" >{{ month }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        {#<th>actions</th>#}
                        <th>StudentId</th>
                        {#<th>Libelle</th>#}
                        <th>IsPaye</th>
                    </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        {#<td>
                            <a href="{{ path('paiement_show', {'id': paiement.id}) }}">show</a>
                            <a href="{{ path('paiement_edit', {'id': paiement.id}) }}">edit</a>
                        </td>#}
                        <td>{{ student.fullName }}</td>
                        {#<td>{{ paiement.libelle }}</td>#}
                        <td>
                            <a href="{{ path('paiement_new', {'libelle': mois, 'studentId': student.id, 'isPaye': true}) }}">
                                <img src="{{ asset('images/false-button.png') }}" class="true-false-image" >
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">لا توجد سجلات</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{{ path('paiement_new') }}">Create new</a>
    </div>
{% endblock %}
