<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}! مرحبا بكم في دار الصحابة{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" /> 
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />       
        <script src="{{ asset('js/bootstrap.min.js') }}" defer></script>      
        {% block stylesheets %}
          
        <style>
        /*
            body {
            background-image: url("{{ asset('images/image1.jpg') }}");
            background-repeat: no-repeat;
            background-size: cover; 
            }
        */
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
            }
        </style>
        {% endblock %}
  </head>
  <body class="bg-light">
    
    <header class="bd-header bg-primary py-1 mb-3 d-flex align-items-stretch border-bottom border-dark pb-0">
        <div class="container-fluid align-items-center ps-0 pe-0">
            <h1 class="align-items-center text-center fs-1 text-white mb-0">
                <img src="{{ asset('images/logoDarAssahaba.jpeg') }}" class="logo me-3 ms-3 mb-3" alt="!شعار دار الصحابة">
                <div>دار الصحابة</div>
            </h1>
            <nav class="navbar navbar-expand-sm bg-info navbar-dark navigation">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('home') }}">الصفحة الرئيسية</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            تعليم
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('paiement_index') }}">رسوم التعليم</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            تلاميذ
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('student_index') }}">قائمة الطلاب</a></li>
                            <li><a class="dropdown-item" href="{{ path('student_new') }}">أضف طالبًا جديدًا</a></li>
                        </ul>
                    </li>
                    {#
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    #}
                </ul>
            </nav>
        </div>
    </header>



    {% block body %}{% endblock %}

  </body>
</html>

